[submodule "Projects/Ft_Printf"]
	path = Projects/Ft_Printf
	url = https://github.com/akharrou/Ft_Printf.git
[submodule "Projects/Libft"]
	path = Projects/Libft
	url = https://github.com/akharrou/42-Project-Libft.git
[submodule "Projects/Fillit"]
	path = Projects/Fillit
	url = https://github.com/akharrou/42-Project-Fillit.git
[submodule "Projects/Get_Next_Line"]
	path = Projects/Get_Next_Line
	url = https://github.com/akharrou/42-Project-Get_Next_Line.git
